- if @extra_footer_block.present?
  %tr
    %td(align="center" valign="top" style="background-color: #fdb924; border-radius: 10px;")
      %table(align="center" border="0" cellpadding="0" cellspacing="0" style="width:570px; position: relative;" width="570")
        %tr
          %td(align="center")
            %table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
              %tr
                %td(style="padding-top:0; padding-right:0; padding-bottom:9px; padding-left:20px" valign="middle")
                  %div(style="font-family: 'Roboto',open sans,helvetica neue,helvetica,arial,sans-serif; font-size: 20px; font-weight: bold;")
                    = image_tag("mailer/gett-white.png", class: "mcnImage", align: "center", alt: "", style: "max-width: 180px; padding: 40px 0; display: inline !important; vertical-align: bottom;", width: "154")
                  %div(style="font-family: 'Roboto',open sans,helvetica neue,helvetica,arial,sans-serif; font-size: 22px;")
                    - if @extra_footer_block == :download_ot_app
                      Download new Gett Business Solutions app
                    - else
                      Track your order in Gett Business Solutions app
                  %table.mcnButtonBlock(border="0" cellpadding="0" cellspacing="0")
                    %tbody.mcnButtonBlockOuter
                      %tr
                        %td.mcnButtonBlockInner(align="center" style="padding-top:40px; padding-right:18px; padding-bottom:18px; padding-left:0;" valign="top")
                          %table.mcnButtonContentContainer(border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate !important;border-radius: 3px;")
                            %tbody
                              %tr
                                %td.mcnButtonContent(align="center" valign="middle")
                                  %a{href: "https://itunes.apple.com/gb/app/one-transport/id1352979619"}
                                    = image_tag("mailer/apple.png")
                        %td.mcnButtonBlockInner(align="center" style="padding-top:40px; padding-right:18px; padding-bottom:18px; padding-left:0;" valign="top")
                          %table.mcnButtonContentContainer(border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate !important;border-radius: 3px;")
                            %tbody
                              %tr
                                %td.mcnButtonContent(align="center" valign="middle")
                                  %a{href: "https://play.google.com/store/apps/details?id=com.onetransport.enterprise"}
                                    = image_tag("mailer/android.png")
                %td.mcnImageBlockInner(style="width: 270px;" valign="bottom" width="270")
                  %table.mcnImageContentContainer(align="left" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;" width="100%")
                    %tbody
                      %tr
                        %td.mcnImageContent(style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;" valign="top")
                          - mobile_img_src = @extra_footer_block == :download_ot_app ? 'mobile_devices.png' : 'mobile_devices_alt.png'
                          = image_tag("mailer/#{mobile_img_src}", class: "mcnImage", align: "center", alt: "", style: "padding-bottom: 0; display: inline !important; vertical-align: bottom;", width: "270")
