%table.mcnTextBlock(border="0" cellpadding="0" cellspacing="0" style="min-width:100%;" width="100%")
  %tbody.mcnTextBlockOuter
    %tr
      %td.mcnTextBlockInner(style="padding-top:9px;" valign="top")
        %table(align="left" border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%")
          %tr
            %td(style="width:600px;" valign="top" width="600")
              %table.mcnTextContentContainer(align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%")
                %tbody
                  %tr
                    %td(style="width: 100px;text-align: center;font-weight: 300;font-size:30px;padding:30px 0;" colspan="2" width="100" valign="top")
                      We've received your sign up request
                    %tr
                      %td.mcnTextContent(style="padding-right:30px; font-size: 14px; padding-bottom:9px; color: #808080;" width="130" valign="top")
                        Company name:
                      %td.mcnTextContent(style="padding-bottom:9px;" valign="top")
                        = @request.name
                    %tr
                      %td.mcnTextContent(style="padding-right:30px; font-size: 14px; padding-bottom:9px; color: #808080;" width="130" valign="top")
                        Admin name:
                      %td.mcnTextContent(style="padding-bottom:9px;" valign="top")
                        = @request.user_name
                    %tr
                      %td.mcnTextContent(style="padding-right:30px; font-size: 14px; padding-bottom:9px; color: #808080;" width="130" valign="top")
                        Phone number:
                      %td.mcnTextContent(style="padding-bottom:9px;" valign="top")
                        = @request.phone_number
                    %tr
                      %td.mcnTextContent(style="padding-right:30px; font-size: 14px; padding-bottom:9px; color: #808080;" width="130" valign="top")
                        Email:
                      %td.mcnTextContent(style="padding-bottom:9px;" valign="top")
                        = @request.email
                    %tr
                      %td.mcnTextContent(style="padding-right:30px; font-size: 14px; padding-bottom:9px; color: #808080;" width="130" valign="top")
                        Country:
                      %td.mcnTextContent(style="padding-bottom:9px;" valign="top")
                        = @request.country
                    %tr
                      %td.mcnTextContent(style="padding-right:30px; font-size: 14px; color: #808080;" width="130" valign="top")
                        Comment:
                      %td.mcnTextContent(valign="top")
                        = @request.comment
