%table.mcnTextBlock(border="0" cellpadding="0" cellspacing="0" style="min-width:100%;" width="100%")
  %tbody.mcnTextBlockOuter
    %tr
      %td.mcnTextBlockInner(style="padding-top:9px;" valign="top")
        %table(align="left" border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%")
          %tr
            %td(style="width:600px;" valign="top" width="600")
              %table.mcnTextContentContainer(align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%")
                %tbody
                  %tr
                    %td(style="width: 100px;text-align: center;font-weight: 300;font-size:36px;color:#000;padding:40px 0;" colspan="2" width="100" valign="top")
                      Payment reminder
                  %tr
                    %td.mcnTextContent(style="padding-top:0; padding-bottom:9px;" colspan="2" valign="top")
                      %p Dear #{@user.full_name.presence || 'customer'},

                      %p
                        This is a friendly reminder that your Gett Business Solutions powered by One Transport
                        invoice No.#{@invoice.id} covering the period
                        #{@invoice.billing_period_start.strftime("%A, %d %b %Y")}
                        to #{@invoice.billing_period_end.strftime("%A, %d %b %Y")}
                        is #{@invoice.overdue_at.past? ? 'overdue since' : 'due for payment on'} #{@invoice.overdue_at.strftime("%A, %d %b %Y")}.

                      %p Please pay by choosing one of the payment options below:

                      %div
                        %div(style="display: inline-block; vertical-align: top; color: #373737; font-size: 16px; font-weight: bold; width: 30px; height: 30px; border-radius: 50%; background-color: #fdb924; text-align: center; line-height: 30px; margin-right: 18px; margin-top: 6px;") 1
                        %div(style="display: inline-block; vertical-align: top; width: 540px;")
                          %p
                            %strong Credit/Debit Card
                          %p
                            Please follow
                            %span= link_to('the link', root_url + 'settings/billing', style: 'font-weight: bold;')
                            to login and go to Settings > Billing page.

                      %div
                        %div(style="display: inline-block; vertical-align: top; color: #373737; font-size: 16px; font-weight: bold; width: 30px; height: 30px; border-radius: 50%; background-color: #fdb924; text-align: center; line-height: 30px; margin-right: 18px; margin-top: 6px;") 2
                        %div(style="display: inline-block; vertical-align: top; width: 540px;")
                          %p
                            %strong BACS
                          %p
                            Please use the following payment details and provide your
                            invoice number as payment reference.
                  %tr
                    %td.mcnTextContent(style="padding-right:10px; padding-bottom:9px; color: #808080;" width="110" valign="top" colspan="2")
                      %span(style="width: 125px; margin-right:20px; margin-left: 53px; display: inline-block; font-size: 14px;") Account name:
                      %span(style="color: #373737;") One Transport Limited
                  %tr
                    %td.mcnTextContent(style="padding-right:10px; padding-bottom:9px; color: #808080; font-size: 14px;" width="110" valign="top" colspan="2")
                      %span(style="width: 125px; margin-right:20px; margin-left: 53px; display: inline-block; font-size: 14px;") Bank:
                      %span(style="color: #373737;") JPMorgan Bank N.A
                  %tr
                    %td.mcnTextContent(style="padding-right:10px; padding-bottom:9px; color: #808080; font-size: 14px;" width="110" valign="top" colspan="2")
                      %span(style="width: 125px; margin-right:20px; margin-left: 53px; display: inline-block; font-size: 14px;") Sort code:
                      %span(style="color: #373737;") 609242
                  %tr
                    %td.mcnTextContent(style="padding-right:10px; padding-bottom: 40px; color: #808080; font-size: 14px;" width="110" valign="top" colspan="2")
                      %span(style="width: 125px; margin-right:20px; margin-left: 53px; display: inline-block; font-size: 14px;") Account number:
                      %span(style="color: #373737;") 41401781
                  %tr
                    %td(style="padding: 20px 30px; background-color: #f9f9f9; border-radius: 10px;line-height: 24px;" colspan="2")
                      = image_tag("mailer/warning.png", align: "center", alt: "", style: "max-width: 34px;", width: "34")
                      %p(style="display:inline-block;vertical-align:middle;margin:0 0 0 20px;;max-width:470px;")
                        Please note that failure to pay within #{(Date.current...(@invoice.overdue_at + Invoice::ALLOWED_OVERDUE_PERIOD)).count} days (#{(@invoice.overdue_at + Invoice::ALLOWED_OVERDUE_PERIOD).strftime("%A, %d %b %Y")}) will
                        result in your service being suspended.
                  %tr
                    %td(colspan="2" style="font-weight:300;font-size:22px;padding:30px 0 10px;")
                      Please contact us via the following email addresses if you have any questions related to:
                  %tr(style="position: relative;")
                    %td(colspan="2" style="padding-top: 15px")
                      %div(style="display: inline-block; vertical-align: baseline; width: 10px; height: 10px; border-radius: 50%; background-color: #fdb924; margin-right: 18px;")
                      %div(style="display: inline-block; vertical-align: top;")
                        %span(style="font-size: 14px; color: #808080;") Overdue accounts, payments, or account statements
                        %br
                        = link_to("creditcontrol-uk@gett.com", "mailto:creditcontrol-uk@gett.com", style: 'color: #1875f0;')
                  %tr(style="position: relative;")
                    %td(colspan="2" style="padding-top: 15px")
                      %div(style="display: inline-block; vertical-align: baseline; width: 10px; height: 10px; border-radius: 50%; background-color: #fdb924; margin-right: 18px;")
                      %div(style="display: inline-block; vertical-align: top;")
                        %span(style="font-size: 14px; color: #808080;") Sending remittances
                        %br
                        = link_to("remittance-uk@gett.com", "mailto:remittance-uk@gett.com", style: 'color: #1875f0;')
                  %tr(style="position: relative;")
                    %td(colspan="2" style="padding-top: 15px")
                      %div(style="display: inline-block; vertical-align: baseline; width: 10px; height: 10px; border-radius: 50%; background-color: #fdb924; margin-right: 18px;")
                      %div(style="display: inline-block; vertical-align: top;")
                        %span(style="font-size: 14px; color: #808080;") Charge disputes, information requests, account change requests
                        %br
                        = link_to("clientservices.uk@gett.com", "mailto:clientservices.uk@gett.com", style: 'color: #1875f0;')
