%table.mcnTextBlock(border="0" cellpadding="0" cellspacing="0" style="min-width:100%;" width="100%")
  %tbody.mcnTextBlockOuter
    %tr
      %td.mcnTextBlockInner(style="padding-top:9px;" valign="top")
        %table(align="left" border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%")
          %tr
            %td(style="width:600px;" valign="top" width="600")
              %table.mcnTextContentContainer(align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%")
                %tbody
                  %tr
                    %td.mcnTextContent(style="padding-top:0; padding-bottom:9px;" valign="top")
                      %p
                        Thank you for choosing Gett Business Solutions powered by One Transport.

                      %p
                        This email confirms that your payment of
                        £#{format("%.2f", @invoice.amount_cents / 100.0)}
                        has been received for bookings placed in the period
                        #{@invoice.billing_period_start.strftime("%A, %d %b %Y")}
                        to #{@invoice.billing_period_end.strftime("%A, %d %b %Y")}

                      %p
                        Invoice Ref ##{@invoice.id}

                      %p
                        Please contact
                        = link_to('finance@one-transport.co.uk', 'mailto:finance@one-transport.co.uk')
                        for additional queries.
