{% from 'AppBundle::user/forms.html.twig' import ha_form_row, ha_form_messages %}
{% set form = form_password %}

<div class="profile-section">
	<h2>
        Change password
	</h2>
	<p class="info" style="margin-bottom: 0">
        You may change your password at any time.
	</p>
	<div class="grouped-fields">

		<form action="{{ path('ha_account_settings', {type: form.vars.name}) }}"
			  {{ form_enctype(form) }}
			  method="post"
			  class="ajax-validate-form">
			{{ form_errors(form) }}

			{{ ha_form_row(form.current_password) }}
			{{ ha_form_row(form.plainPassword.first) }}
			{{ ha_form_row(form.plainPassword.second) }}

			<div class="field-footer">
				<div class="field-footer">
					<button type="submit" class="black --right mdl-button mdl-js-button mdl-js-ripple-effect">
						Update
					</button>
				</div>
				{{ form_rest(form) }}
			</div>
		</form>
	</div>
</div>
