<footer>
    <div class="container contentinfo">

        <div class="row">
            <img class="footer-logo" src="{{ asset('assets/images/logo/logo_black.png') }}"/>
            <div class="separator">
                    Home to The World's Luxury Brands
            </div>
            <ul class="ha-links">
                <li>
                    <a href="{{ path('ha_help', {'token':'z78'}) }}">
                        About
                    </a>
                </li>
                <li>
                    <a href="{{ path('ha_help', {'token':'DyJ'}) }}">
                        Privacy Statement
                    </a>
                </li>
                <li>
                    <a href="{{ path('ha_help', {'token':'z78'}) }}">
                        Terms and Conditions
                    </a>
                </li>
                <li>
                    <a href="{{ path('ha_help', {'token':'z78'}) }}">
                        Join Us
                    </a>
                </li>
                <li>
                    <a href="{{ path('ha_help', {'token':'z78'}) }}">
                        Help
                    </a>
                </li>
            </ul>
            <div class="copyright">
                    Copyright © 2018 LuxuryAffair's. All Rights Reserved.
            </div>

        </div>

    </div>
</footer>
