.contacts-container
  .text-10.blue-text.bold-text
    .mb-5
      %span.mr-5= Settings.ote.account_number
      %span= @support_phone
    %div= Settings.support.landing_url
  .text-10.text-right
    .mb-5
      %span.mr-5 Company Number:
      %span.bold-text= Settings.ote.company_number
    %div
      %span.mr-5 VAT:
      %span.bold-text= Settings.ote.vat_number
