%table.main-table
  %tbody
    %tr.vertical-top
      %td
        .header-container
          .header
            %div
              .mb-20= document_image_tag('gett-logo-alt.png')
            .text-right
              .bold-text.text-14.mb-5 Credit Note - #{@credit_note.id}
              .text-12.mb-5 #{@credit_note_date}
              .text-14.mb-20
                FAO:&nbsp;
                %span.bold-text #{@contact.full_name}
              .text-12.mb-5= @company.name
              .text-12= @company.address.line
    %tr
      %td
        .invoice-container
          %table
            %thead
              %tr
                %th.text-left ORDER ID
                %th Sub Total
                %th VAT
                %th Total
            %tbody
              - @credit_note_lines.each do |line|
                %tr.bold-text
                  %td.text-left= line.booking.order_id
                  %td £ #{format_cents(line.amount_cents)}
                  %td
                    - if line.vatable?
                      £ #{format_cents(line.vat)}
                    - else
                      N/A
                  %td £ #{format_cents(line.total_amount_cents)}
              %tr
                %td.gray-text.text-right(colspan="3")
                %td.bold-text £ #{format_cents(@credit_note.amount_cents)}
    %tr.vertical-bottom
      %td
        .footer-container
          = render 'footer'
