.invoice-main-table
  .invoice-header-container
    .header
      .logo-ot= document_image_tag('pdf/gett.png')
      .right
        %p.company= Settings.ote.company_name
        %p= invoice_ote_company_address
        %p.invoice-url
          %b
            = link_to('https://gett.com/uk/one-transport/', 'https://gett.com/uk/one-transport/')
  .invoice-body-container-first
    %table
      %tbody
        %tr.vertical-top
          %td
            .border
            .content
              %table
                %tr.vertical-top
                  %td
                    .label Period:
                  %td
                    .val= @invoice_period
                %tr.vertical-top
                  %td
                    .label Payment status:
                  %td
                    .val= @invoice_status
                %tr.vertical-top
                  %td
                    .label Due date:
                  %td
                    .val= @invoice_due_date
                %tr.vertical-top
                  %td
                    .label Payment terms:
                  %td
                    .val #{@invoice.payment_terms} days
            .border
          %td
            .border
            .content
              %table
                %tr.vertical-top
                  %td
                    .label
                %tr.vertical-top
                  %td
                    .text
                      %b Please send remittance advice to
                    .text.invoice-url
                      %b remittance-uk@gett.com
                %tr.vertical-top
                  %td
                    .label
            .border.mt-20
  .invoice-body-container
    %table
      %tbody
        %tr.vertical-top
          %td
            .content
              %table
                %tr.vertical-top
                  %td
                    .label Invoice number:
                  %td
                    .val= @invoice.id
                %tr.vertical-top
                  %td
                    .label Invoice date:
                  %td
                    .val= @invoice_date
                %tr.vertical-top
                  %td
                    .label Company contact:
                  %td
                    .val= @contact.full_name
                %tr.vertical-top
                  %td
                    .label Company:
                  %td
                    .val= @company.name
                %tr.vertical-top
                  %td
                    .label Address:
                  %td
                    .val= @company.address.line
                %tr.vertical-top
                  %td
                    .label Cost Centre:
                  %td
                    .val= @company.cost_centre
          %td
            .content
              %table
                %tr.vertical-top
                  %td
                    .label Company No:
                  %td
                    .val= Settings.ote.company_number
                %tr.vertical-top
                  %td
                    .label VAT Reg No:
                  %td
                    .val= Settings.ote.vat_number
                %tr.vertical-top
                  %td
                    .label Bank Name:
                  %td
                    .val= Settings.ote.bank_name
                %tr.vertical-top
                  %td
                    .label Account Number:
                  %td
                    .val= Settings.ote.account_number
                %tr.vertical-top
                  %td
                    .label Sort Code:
                  %td
                    .val= Settings.ote.sort_code
                %tr.vertical-top
                  %td
                    .label Bank Address:
                  %td
                    .val= Settings.ote.bank_address
  .invoice-title-footer
    %img= document_image_tag('pdf/footer_bg.png')
    %p.text-center Taxi services breakdown listed on the next pages.
    .numbers{style: "background-image: url('#{image_path('pdf/bg.png')}')"}
      %table.vertical-middle
        %tr
          %td.number
            .val= @number_of_jobs
            .label No. of Jobs
          %td.number
            .val £#{format_cents(@net_vatable)}
            .label Net VATable
          %td.number
            .val £#{format_cents(@net_non_vatable)}
            .label Net non-VATable
          %td.number
            .val £#{format_cents(@vat)}
            .label VAT
          %td.number
            .val £#{format_cents(@total)}
            .label Total
          - if @promotions.present?
            %td.number
              .val £#{format_cents(@promotions)}
              .label Promotions
          %td.number
            .val £#{format_cents(@due)}
            .label Amount due
