%table.mcnTextBlock(border="0" cellpadding="0" cellspacing="0" style="min-width:100%;" width="100%")
  %tbody.mcnTextBlockOuter
    %tr
      %td.mcnTextBlockInner(style="padding-top:9px;" valign="top")
        %table(align="left" border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%")
          %tr
            %td(style="width:600px;" valign="top" width="600")
              %table.mcnTextContentContainer(align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%")
                %tbody
                  %tr
                    %td(style="width: 100px;text-align: center;font-weight: 300;font-size:36px;color:#000;padding:40px 0;" width="100" colspan="2" valign="top")
                      Change password
                  %tr
                    %td.mcnTextContent(style="padding-top:0; padding-bottom:9px;" valign="top" colspan="2")

                      %p Dear #{@user.try(:full_name)},
                      %p You’ve recently requested to reset your password. To do so, please click on the button below.

                  %tr
                    %td(align="center" style="padding: 40px 0 50px; text-align: center;" valign="middle" colspan="2")
                      %a.mcnButton{href: root_url + "auth/reset?token=#{@user.reset_password_token}"}
                        Reset Password
                  %tr
                    %td.mcnTextContent(style="padding-top:0; padding-bottom:9px;" valign="top" colspan="2")
                      %p When you log in for the first time you will need to choose a password and once you’re fully set-up you can book any vehicle, manage existing bookings and run multiple reports.
                  %tr
                    %td(colspan="2" style="font-weight:300;font-size:20px;text-align:center;padding:50px 0 30px 0;")
                      If you have any questions — just let us know
                  %tr(style="position: relative;")
                    %td(style="padding: 20px 0px; text-align: center; background-color: #f9f9f9; border-top-left-radius: 10px; width: 50%; border-bottom-left-radius: 10px;line-height: 24px;")
                      %div(style="border-right: 1px solid #d8d8d8;")
                        = image_tag("mailer/phone.png", align: "center", alt: "", style: "max-width: 40px; margin:auto; padding: 10px 0 0 0; display: block;", width: "40")
                        %p(style="font-size: 14px; color: #808080;")
                          Call Us
                          %br
                        %p(style="color: #373737;")
                          = link_to('0203 608 9312', 'tel:0203 608 9312', style: 'text-decoration:none; color: #000;font-weight: 500;')
                    %td(style="text-align: center; background-color: #f9f9f9; border-top-right-radius: 10px; width: 50%; border-bottom-right-radius: 10px;line-height: 24px;")
                      = image_tag("mailer/email.png", align: "center", alt: "", style: "max-width: 36px; margin:auto; padding: 10px 0 0 0; display: block;", width: "36")
                      %p(style="font-size: 14px; color: #808080;")
                        Write us
                        %br
                      %p(style="color: #373737;")
                        = link_to('contact.uk@gett.com', 'mailto:contact.uk@gett.com', style: 'text-decoration:none; color: #000;font-weight: 500;')
