{% set likesTotal = article.getLikesCount() %}
{% set commentsTotal = article.getMessagesCount() %}

{% if not likesTotal %}
    {% set likesTotalClass = '--hidden' %}
{% else %}
    {% set likesTotalClass = '' %}
{% endif %}
{% if app.user and is_liked_by_user(app.user, article) %}
    {% set isLikedClass = '--is-liked' %}
{% else %}
    {% set isLikedClass = '' %}
{% endif %}

<div class="
article-likes-{{ article.id }}
like-button
like-counter {{ likesTotalClass }} {{ isLikedClass }}"
     data-id="{{ article.id }}"
     data-type="article"
     data-title="{{ article.getTitle() }}"
     data-add-url="{{ path('ha_article_like_add',{id:article.token}) }}"
     data-remove-url="{{ path('ha_article_like_remove',{id:article.token}) }}"
>
    <i class="material-icons plus">favorite</i>
    <i class="material-icons minus">favorite</i>

    {% if likesTotal %}
        <span>
            {{ likesTotal }}
        </span> likes
    {% else %}
        <span></span> Like
    {% endif %}
</div>

<a class="comments-counter message-button" href="{{ path('ha_room_article_redirect', {id: article.id}) }}">
    <i class="material-icons">comment</i>
    {% if commentsTotal %}
        <span>
            {{ commentsTotal }}
        </span> comments
    {% else %}
        <span></span> Comments
    {% endif %}
</a>
<div class="article-share-{{ article.id }} share-button"
     data-title="Share this story"
     data-image="{{ article|article_image('article_medium') }}"
     data-url="{{ absolute_url(path('ha_article_details', {token: article.token, slug: article.slug})) }}"
>
    <i class="material-icons">reply</i>
    Share
</div>
